# Fake user directory structures
/test/xdg/local/state/
test/xdg/local/share/nvim/

# We cannot automate trusting a file, so we need to persist the trust file
!/test/xdg/local/state/trust


# Tag file created by Vim
/doc/tags
